.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.footer_text {
  margin: auto;
}

.navigation {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navigation_item {
  margin-left: 16px;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  display: flex;
}
.dashboard {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.news {
  width: 200px;
  background-color: grey;
  margin: 0;
}
.news_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.news_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  height: 40px;
}
.news_head {
  display: flex;
  justify-content: center;
  margin: 16px 0px;
}
