@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin: 16px;

  @include for-medium-up {
    background-color: #00ffff;
  }

  @include for-large-up {
    background-color: #ffd700;
  }
}
